This code is the demonstration of the python selenium web driver. Through which we can automate the web scraping events.

In [1]:
#importing libraries

import os
import pandas as pd
import numpy as np 
import datetime
import time
import dateutil
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup as bs
import warnings
warnings.filterwarnings("ignore")

In [9]:
#setting up web browser parameter
options = Options()
options.add_argument("--start-maximized")
#options.add_argument("--headless")
driver = webdriver.Chrome(options = options)


# Crawler
driver.get("https://www.flipkart.com/")
time.sleep(3)  #page loading delay

# Click on the cross button
cross_bar = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
cross_bar.click()
time.sleep(5)

# Click on the search bar to search items
search_bar = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.click()
search_bar.send_keys('Smart Watches')
time.sleep(10)

#Search
search = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()
time.sleep(10)

# Select specific items from list
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[2]/div[1]/div[1]/div/div[1]/div/section[4]/div[2]/div[1]/div[2]/div/div/label/div[1]').click()
time.sleep(3)

driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[2]/div/div[1]/div/div[1]/div/section[4]/div[2]/div[1]/div[4]/div/div/label/div[1]').click()
time.sleep(3)

driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[2]/div/div[1]/div/div[1]/div/section[4]/div[2]/div[1]/div[5]/div/div/label/div[1]').click()

In [10]:
# Loading the data
data = driver.page_source

In [13]:
# Importing the beautifulSoup library for prettifying the data
from bs4 import BeautifulSoup as bs

In [18]:
# Parsing the data into html format
soup = bs(data, 'html.parser')

# Get product name by class 
product_name = soup.findAll('div', {'class' : '_3wU53n'})
product_name = [x.text for x in product_name]

# Get product price using class 
product_price = soup.findAll('div', {'class' : '_1vC4OE _2rQ-NK'})
product_price = [x.text for x in product_price]

# List of products with their respective prices
data_list = [product_name, product_price]

In [22]:
# Convert list into dataframe
df = pd.DataFrame(data = data_list)
df = df.T

# Renaming columns
df.columns = ['Product', 'Price']

In [23]:
df

                                              Product    Price
0                   Fossil FB-01 Hybrid HR Smartwatch  ₹16,495
1                                Realme Classic Watch   ₹3,999
2                                Realme Fashion Watch   ₹3,999
3   Samsung Galaxy Watch Active 2 Aluminium Smartw...  ₹23,990
4              Fossil 4th Gen Explorist HR Smartwatch  ₹10,997
5   Samsung Galaxy Watch Active 2 Aluminium Smartw...  ₹23,990
6               Samsung Galaxy Watch 46 mm Smartwatch  ₹19,990
7                  Fossil Gen 5 Carlyle HR Smartwatch  ₹22,995
8                          Fossil Sport 43 Smartwatch   ₹9,995
9                Samsung Watch Active 2 4G Smartwatch  ₹28,490
10                 Fossil Gen 5 Garrett HR Smartwatch  ₹22,995
11               Fossil 4th Gen Venture HR Smartwatch  ₹10,997
12                Fossil Gen 5 Julianna HR Smartwatch  ₹22,995
13     Samsung Galaxy Watch Active 2 Steel Smartwatch  ₹28,490
14                 Fossil Sport Smartwatch Smartwatch   ₹9,995
15     Samsung Galaxy Watch Active 2 Steel Smartwatch  ₹28,490
16          Samsung Galaxy Watch 46 mm LTE Smartwatch  ₹30,370
17          Samsung Galaxy Watch 42 mm LTE Smartwatch  ₹24,490
18                 Fossil Gen 5 Garrett HR Smartwatch  ₹22,995
19          Samsung Galaxy Watch 42 mm LTE Smartwatch  ₹24,490
20               Samsung Watch Active 2 4G Smartwatch  ₹28,490
21                Fossil Gen 5 Julianna HR Smartwatch  ₹22,995
22     Samsung Galaxy Watch Active 2 Steel Smartwatch  ₹28,490
23                 Fossil Sport Smartwatch Smartwatch   ₹9,995